/* Large desktops and laptops */
// media (min-width: 1200px) {}

/* Portrait tablets and medium desktops */
// media (min-width: 992px) and (max-width: 1199px) {}

/* Portrait tablets and small desktops */
// media (min-width: 768px) and (max-width: 991px) {}

/* Landscape phones and portrait tablets */
// media (max-width: 767px) {}

/* Landscape phones and smaller */
// media (max-width: 480px) {}

$desk: 1024px;
$tablet: 991.98px;
$tablet_sm: 767.98px;
$mobile: 575.98px;
$mobile_sm: 480px;
