<header class="header">
	<div class="container">
		<div class="header__content">
			<div class="header__top" x-data="regionsData">
				<button
					class="burger header__burger menu"
					:class="{ opened: open }"
					x-ref="burger"
				>
					@@include("./components/burger-icon.html")
				</button>

				<a class="logo header__logo" href="#">
					<img class="logo__img" src="./images/logo.svg" alt="логотип сайта" />
				</a>

				<div class="choose-region header__regions">
					<button
						class="choose-region__btn"
						x-ref="chooseRegionBtn"
					>
						<span class="choose-region__btn-wrapper">
							<svg class="choose-region__btn-icon" width="32" height="32">
								<use xlink:href="./images/sprite.svg#city-arrow"></use>
							</svg>
						</span>
						<span
							class="choose-region__btn-text"
							x-text="currentRegions || 'Любой регион'"
						></span>
					</button>

					<div
						class="region-search"
						:class="{ active: open }"
						x-ref="regionSearch"
						.click.stop
					>
						<div class="region-search__top">
							<div class="region-search__input-wrapper">
								<input
									class="region-search__input"
									type="text"
									placeholder="Регион, город, населенный пункт"
									x-model="search"
								/>
								<button
									class="region-search__input-clear"
									x-show="search"
									@click="search = ''"
								>
									<svg width="32" height="32" fill="#A7A7A7">
										<use xlink:href="./images/sprite.svg#close"></use>
									</svg>
								</button>
							</div>

							<ul class="region-search__chosen-regions" x-show="selectedRegions.size">
								<template x-for="selectedRegion in [...selectedRegions]" :key="selectedRegion">
									<li
										class="region-search__chosen-region"
										x-scale
									>
										<span x-text="selectedRegion"></span>
										<button
											class="region-search__chosen-region-remove"
											@click.stop="selectRegion(selectedRegion)"
										>
											<svg width="32" height="32" fill="#fff">
												<use xlink:href="./images/sprite.svg#close"></use>
											</svg>
										</button>
									</li>
								</template>
							</ul>
						</div>

						<div class="region-search__list">
							<div class="loading" :class="{ active: isError }">
								Произошла ошибка
							</div>
							<div class="loading" :class="{ active: isLoading }">
								@@include("./components/spinner.html")
							</div>

							<div class="scroll-container" id="scroll-container">
									<template
										x-for="({ id, name, areaName }) in regions"
										:key="id + name"
									>
										<div
											class="region-search__item"
											x-show="isSearchedRegions(name)"
											x-transition.duration.500ms
										>
											<button
												class="region-search__city"
												@click="selectRegion(name)"
											>
												<span class="region-search__name-searched" x-text="search"></span><span class="region-search__name" x-text="name.slice(search.length)"></span>
												<span class="region-search__area-name" x-text="areaName"></span>
											</button>
										</div>
									</template>
							</div>
						</div>

						<button
							class="region-search__btn"
							@click="changeCurrentRegions"
						>
							сохранить
						</button>
					</div>
				</div>

				<input class="search header__search" type="text" placeholder="Учебное заведение, специальность или профессия" />

				<button class="user-info header__user">
					<div class="user-info__likes">
						<svg class="user-info__likes-icon" width="32" height="32">
							<use xlink:href="./images/sprite.svg#heart"></use>
						</svg>
						1
					</div>
					<a class="user-info__avatar" href="#">
						<span class="user-info__avatar-name">Екатерина</span>
						<img class="user-info__avatar-img" src="./images/avatar.png" alt="аватар рользователя" />
					</a>
				</button>
			</div>

			<nav class="nav header__btm" x-data="navData">
				<ul class="nav__list" x-ref="navList">
					@@for (var i = 0; i < nav['length']; i++) {
						<li class="nav__item">
							<a class="nav__link" href="#">`+ nav[i] +`</a>
						</li>
					}
				</ul>
				<button
					class="nav__btn nav__btn--left"
					x-show="!isStart"
					@click="onPrev"
				></button>
				<button
					class="nav__btn nav__btn--right"
					x-show="!isEnd"
					@click="onNext"
				></button>
			</nav>
		</div>
	</div>
</header>
