<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic" rel="stylesheet" />
	<!-- /FONTS -->

	<!-- STYLES -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-scrollbar@latest/simple-scrollbar.css">
	<link rel="stylesheet" href="./css/main.css">
	<!-- /STYLES -->

	<!-- SCRIPTS -->
	<script src="//unpkg.com/alpinejs" defer=""></script>
	<script src="https://cdn.jsdelivr.net/npm/simple-scrollbar@latest/simple-scrollbar.min.js" defer=""></script>
	<!-- /SCRIPTS -->

	<!-- TITLE -->
	<title>@@head_title</title>
	<!-- /TITLE -->
</head>

<body x-data="">
	<div class="wrapper">
		@@include('./components/header.html')
